{% extends "base.html" %}
{% block title %}
    <title>Tag {{ tag_name }}</title>
{% endblock title %}
{% block content %}
<div class="content">
    <div class="page-header">
        <h1>Questions tagged [{{ tag_name }}]</h1>
    </div>
    {% for question in object_list %}
        <div class="question">
            {% include "question_item.html" %}
            <div class="question-right">
                <h3 class="question-title">
                    <a href="{% url 'webproject:question_detail' question.id %}">{{ question.title }}</a>
                </h3>
                <p class="question-text">{{ question.body }}</p>
                <div class="question-meta">
                    <a href="{% url 'webproject:question_detail' question.id %}" class="answers-count">answers ({{ question.answers_count }})</a>
                    <div class="tags">
                        Tags:
                        {% for tag in question.tags.all %}
                            <a href="{% url 'webproject:tag' tag_name=tag.title %}" class="tag">{{ tag.title }}</a>
                        {% empty %}
                            <span class="no-tags">No tags</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% include "paginator.html" %}
</div>
{% endblock %}